Source: picocom
Section: comm
Priority: optional
Maintainer: xiangzelong <xiangzelong@deepin.org>
Uploaders: xiangzelong <xiangzelong@deepin.org>
Build-Depends: debhelper-compat (= 13),
               go-md2man
Standards-Version: 4.1.3
Rules-Requires-Root: no
Homepage: https://gitlab.com/wsakernel/picocom
Vcs-Browser: https://github.com/deepin-community/picocom
Vcs-Git: https://github.com/deepin-community/picocom.git

Package: picocom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: minimal dumb-terminal emulation program
 picocom was designed to serve as a simple, manual, modem
 configuration, testing, and debugging tool. It has also served (quite
 well) as a low-tech "terminal-window" to allow operator intervention
 in PPP connection scripts (something like the ms-windows "open
 terminal window before / after dialing" feature). It could also prove
 useful in many other similar tasks. It is ideal for embedded systems
 since its memory footprint is minimal.
